html{
    background-color:#000;
}

p{
    margin:0;
}

body{
    font-family: 'VT323';
    font-size:30px;
    margin:0;
}

pre{
    font-family: 'VT323';
    white-space: pre-wrap;
}

textarea
{
    font-family: inherit;
    font-size: inherit;
    overflow:hidden;
}


.wrapper{
    display:block;
    height:100%;
    width:100%;
}

#input{
    position: absolute;
    resize:none;
    height: 30px;
    width:98%;
    background-color:#000;
    color:#00ff00;
    word-wrap:break-word;
    bottom:0;
    border: none;
}

#textbox{
    position:absolute;
    width:100%;
    background-color:#000;
    color:#00ff00;
    word-wrap:break-word;
    bottom: 35px;
    left: 5px;
}

