body{
    font-size: 18px;
    font-family: 'Inconsolata';
    background-color: #eeeeee;
    margin: 0;
    line-height: 1.6;
    overflow: hidden;
}

nav{
    padding: 0;
    margin: 0;
}

h2{
    font-weight: 700;
    text-decoration: underline;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.link{
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 2px 2px 2px #666;
}

.header-container{
    background-color: #cccccc;
    height: 60px;
}

.header-logo{
    margin: 0;
    padding-top: 7px;
    padding-left: 20px;
}

.main{
    margin-top: 60px;
    max-height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.container{
    padding: 10px;
    margin: 60px auto;
    max-width: 700px;
}

.bold{
    font-weight: 700;
}

